.animate-float1 {
    animation: float1 10s infinite;
  }
  
  .animate-float2 {
    animation: float2 12s infinite;
  }
  
.image{
  background-image: url('/image3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
